<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.PostDao">
    <resultMap id="BaseResultMap" type="Post">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Table_Name">
        post
    </sql>

    <select id="list" resultMap="BaseResultMap" parameterType="post">
        select
        id,title,author,create_time
        from
        <include refid="Table_Name"/>
        <where>
            <if test="title !=null and title!=''">
                and title like CONCAT(#{title},'%')
            </if>
        </where>

        <if test="offset!=null and limit!=null and limit>0">
            limit #{offset},#{limit}
        </if>
    </select>

</mapper>